#opening-text {
	-fx-font-size: 14pt;
}

#question-text {
	-fx-font-size: 12pt;
}

#info-text {
	-fx-font-size: 11pt;
	-fx-font-weight: bold;
}

#success-text {
	-fx-fill: #78AB46;
}

#fail-text {
	-fx-fill: #FF0000;
}

#back-button {
	-fx-font-size: 9pt;
}

.root {
	-fx-background-color: #EBEBB0;
}

.button {
	-fx-font-size: 24pt;
	-fx-text-fill: #555;
	-fx-background-color: #D6D6C5;
}

.button:hover{
	-fx-background-color: #E0E0D1;
}